In [2]:
# identifiers
a = 'vaishanvi'
print(a)
b = 'lili'
print(b)

vaishanvi
lili

In [7]:
a = 10
print(a)
b = 10.2
print(b)
a = 10
b = 20
c = a+b
print(c)
a = 1+3j
print(a)
a = True
print(a)

10
10.2
30
(1+3j)
True

In [11]:
a = 10
print(a)
print(type(a))
b = 10.2
print(type(b))
c = 1+4j
print(type(c))
d = '10'
print(type(d))

10
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [15]:
import keyword
len(keyword.kwlist)
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
# typecasting
a = 10
print(a)
b_f = float(a)
print(b_f)
print(type(b_f))
a = 1.1
print(a)
b_i= int(a)
print(b_i)
a = 2+3j
a = '10'
print(a)
b_i = int(a)
print(b_i)
a = '100'
print(a)
b_f = float(a)
print(b_f)
a = '100'
print(a)
b_f = float(a)
print(b_f)
b_i = int(a)
print(b_i)
a = 2+4j
print(a)
b = complex(a)
print(b)

10
10.0
<class 'float'>
1.1
1
10
10
100
100.0
100
100.0
100
(2+4j)
(2+4j)

In [27]:
a = 10
print(a)
b = str(a)
print(b)
a = 10
b = 20
print(a)
print(b)
a = 30
b = 40
print(a)
print(b)

10
10
10
20
30
40

In [40]:
a =10
print(a)
b = complex(a)
print(b)
a = 10.2
print(a)
b = int(a)
print(b)
a = 2+5j
print(a)
b = (a)
print(b)
c = 10
print(c)
print(d)

10
(10+0j)
10.2
10
(2+5j)
(2+5j)
10
10

In [46]:
a =10
print(a)
b = complex(a)
print(b)
a = '10'
print(a)
b = float(a)
print(b)
c = '10'
print(c)
d = complex(c)
print(d)
a = 10
print(a)
b = complex(a)
print(b)
a = 100
print(a)
b = str(a)
print(b)
a = 10
print(a)
b = str(a)
print(b)

10
(10+0j)
10
10.0
10
(10+0j)
10
(10+0j)
100
100
10
10

In [2]:
a = 10
print(a)
print(type(a))
b = str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

In [1]:
a =10
print(a)
b = complex(a)
print(b)
a = '10'
print(a)
b = float(a)
print(b)
c = '10'
print(c)
d = complex(c)
print(d)
a = 10
print(a)
b = complex(a)
print(b)
a = 100
print(a)
b = str(a)
print(b)
a = 10
print(a)
b = str(a)
print(b)

10
(10+0j)
10
10.0
10
(10+0j)
10
(10+0j)
100
100
10
10

In [7]:
a = 10
print(a)
b = str(a)
print(b)
a = 20.4
print(a)
b = str(a)
print(b)
a = '10'
print(a)
b = float(a)
print(b)
a = complex(4,5)
print(a)
b = (a.real)
b = (a.imag)
print(b)

10
10
20.4
20.4
10
10.0
(4+5j)
5.0

In [9]:
a = 3+2j
print(a)
b = complex(a)
print(b.real)
print(b.imag)

(3+2j)
3.0
2.0

In [10]:
a = '10'
print(a)
b = complex(a)
print(b)

10
(10+0j)

In [13]:
a = complex(10)
print(a)

(10+0j)

In [11]:
a = 10
print(a)
b = bool(a)
print(b)

10
True

In [17]:
print(int(True))
print(float(False))
print(str(True))
print(complex(False))
print(complex(True,False))
print(complex(False,True))

1
0.0
True
0j
(1+0j)
1j

In [18]:
a = True
print(a)
b = str(a)
print(b)

True
True

In [20]:
a = str(True)
print(a)
print(type(a))

True
<class 'str'>

In [21]:
a = bool(10)
print(a)

True

In [22]:
b = bool(0)
print(b)

False

In [23]:
a = bool(1.3)
print(a)

True

In [24]:
a = bool(1.2)
print(a)

True

In [27]:
a =bool('') 
print(a)
b = bool('hello')
print(b)

False
True

In [29]:
print(bool(10))
print(bool(1.1))
print(bool(3+2j))
print(bool('hi'))

True
True
True
True

In [33]:
a = 'hello python'
print(a)
print(type(a))
print(['h'])
print(len())

hello python
<class 'str'>
['h']

In [37]:
a = 2+4j
print(a.real)
print(a.imag)
b = 2+4j
print(b)
c = str(b)
print(c)

2.0
4.0
(2+4j)
(2+4j)

In [44]:
a = 'hi lili'
print(a)
print(type(a))
a[2:5]
a[3]
a[-1]
print(a[-1])
print(a[-5:-2])
a*2

hi lili
<class 'str'>
i
 li

'hi lilihi lili'

In [45]:
a = 10
b = 20
print(a)
print(b)
print(id(a))
print(id(b))
print(a is b)

10
20
2581961507344
2581961507664
False

In [46]:
a = 10
a = 20
print(id(a))
print(id(b))
print(a is a)

2581961507664
2581961507664
True

In [47]:
a = 10
b = 10
print(id(a))
print(id(b))
print(a is b)

2581961507344
2581961507344
True

In [48]:
a = 1.1
b = 2.3
print(id(a))
print(id(b))
print(a is b)

2582040101520
2582038586704
False

In [49]:
a = 1+3j
b = 1+3j
print(id(a))
print(id(b))
print(a is b)

2582061099184
2582061100208
False

In [61]:
a = 10
b = 20
c = b
print(id(a))
print(id(b))
print(id(c))

2581961507344
2581961507664
2581961507664

In [59]:
a = 10.2
b = 1.1
c = a
print(id(a))
print(id(b))
print(id(c))

2582038585584
2582061100208
2582038585584

In [62]:
# bytes
a = [1,2,3,4,5,6]
print(a)
b = bytes(a)
print(b)
print(b[3])
print(b[5])
a = [10,20,30,40]
print(a)
b = bytes(a)
print(b)

[1, 2, 3, 4, 5, 6]
b'\x01\x02\x03\x04\x05\x06'
4
6
[10, 20, 30, 40]
b'\n\x14\x1e('

In [65]:
a = [11,22,33,44,55]
print(a)
b = bytes(a)
print(b)
for x in b:
    print(x)
a[2]

[11, 22, 33, 44, 55]
b'\x0b\x16!,7'
11
22
33
44
55

33

In [67]:
a = bytes([1,2,3,4,5,6,7,8,9,100])
print(a)
print(type(a))
for i in a:
    print(i)

b'\x01\x02\x03\x04\x05\x06\x07\x08\td'
<class 'bytes'>
1
2
3
4
5
6
7
8
9
100

In [74]:
a = bytearray([10,20,30,40])
print(a)
print(type(a))
for x in a:
    print(x)

bytearray(b'\n\x14\x1e(')
<class 'bytearray'>
10
20
30
40

In [80]:
a[3]
a[0]
a[1]

20

In [83]:
# list
a = [1,2,3,4,5,6,7,8]
print(a)
print(type(a))
for x in a:
    print(x)

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>
1
2
3
4
5
6
7
8

In [85]:
a = [1.1,2.2,3.3,4.4,5.5]
print(a)
print(type(a))
for x in a:
    print(x)

[1.1, 2.2, 3.3, 4.4, 5.5]
<class 'list'>
1.1
2.2
3.3
4.4
5.5

In [87]:
a = ['11','22','33','44']
print(a)
print(type(a))
for x in a:
    print(x)

['11', '22', '33', '44']
<class 'list'>
11
22
33
44

In [88]:
a = [1,3.4,'66',2,3]
print(a)
print(type(a))
for x in a:
    print(x)

[1, 3.4, '66', 2, 3]
<class 'list'>
1
3.4
66
2
3

In [95]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(type(a))
print(a[2:5])
print(a[-5:-2])
a*2

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
[3, 4, 5]
[5, 6, 7]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
a.append(10)
print(a)
a .remove(10)
print(a)
a.extend([10])
print(a)
a.extend([x])
print(a)
x=a.copy()
print(x)
x.index((4))
print(x)
print(x.index((4)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]]]]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]]]]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]]]]]
3

In [127]:
l = [10,20,30,40,50,60]
print(l)
print(type(l))
l.append(70)
print(l)
l.remove(70)
print(l)
m =l .copy()
print(m)
l.extend([70])
print(l)
print(l.index(30))
l.insert(20,2)
print(l)
l.pop()
print(l)
l.sort(reverse = True)
print(l)
l.sort(reverse =  False)
print(l)

[10, 20, 30, 40, 50, 60]
<class 'list'>
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 70]
2
[10, 20, 30, 40, 50, 60, 70, 2]
[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70]

In [149]:
a = (1,2,3,4,5,6,7,8,9)
print(a)
print(type(a))
b = list(a)
print(b)
b.append(10)
print(b)
b.remove(10)
print(b)
c = b.copy()
print(c)
c.extend([10])
print(c)
print(c.index((6)))
c.insert(6,50)
print(c)
c.pop()
print(c)
c.sort(reverse = True)
print(c)
c.sort(reverse = False)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5
[1, 2, 3, 4, 5, 6, 50, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 50, 7, 8, 9]
[50, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [158]:
a  = (1,2,3,4,5)
print(a)
print(type(a))
b = (1.1,2.2,3.3)
print(b)
print(type(b))
c = ('11','22','33')
print(c)
print(type(c))
m = (1,2,4.5,6.7,'99')
print(m)
print(type(m))
print(a.count(4))

print(a.index((4)))

(1, 2, 3, 4, 5)
<class 'tuple'>
(1.1, 2.2, 3.3)
<class 'tuple'>
('11', '22', '33')
<class 'tuple'>
(1, 2, 4.5, 6.7, '99')
<class 'tuple'>
1
3

In [160]:
l = ['mango','kiwi']
print(l)
print(type(l))
l[0:3]

['mango', 'kiwi']
<class 'list'>

['mango', 'kiwi']

In [165]:
tup = ('aa','bb','cc','dd')
print(tup)
print(type(tup))
print(len(tup))
tup[2]
tup[1:2]
tup[-2]

('aa', 'bb', 'cc', 'dd')
<class 'tuple'>
4

'cc'

In [193]:
# sets
a = {1,2,3,4}
print(a)
print(type(a))
print(len(a))
a = set([10,20,30,40,50])
print(a)
print(type(a))
for x in a:
    print(x)
a = {'aa','bb','cc','dd','ee'}
print(a)
print(type(a))
'cc' not in a
'dd' in a
a .add('ff')
print(a)
a = {1,2,3,4,5}
print(a)
print(type(a))
b = {10,20,30,40}
a.update(b)
print(a)
a ={11,22}
print(a)
b = {33,44}
print(b)
a.update(b)
print(a)
a = {'aa','bb'}
print(a)
b = {'cc','dd'}
print(b)
a.update(b)
print(a)
a .pop()
print(a)
a.remove('cc')
print(a)
a.discard('bb')
print(a)
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = a.union(b)
print(c)
c = a.intersection(b)
print(c)
a = {1,2,3,4}
b = {5,6,7,8}
c = {1,2,3,11,12}
print(a)
print(b)
print(c)
a .intersection_update(c)
print(a)

{1, 2, 3, 4}
<class 'set'>
4
{40, 10, 50, 20, 30}
<class 'set'>
40
10
50
20
30
{'ee', 'cc', 'aa', 'bb', 'dd'}
<class 'set'>
{'ee', 'cc', 'aa', 'bb', 'dd', 'ff'}
{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 40, 10, 20, 30}
{11, 22}
{33, 44}
{33, 11, 44, 22}
{'aa', 'bb'}
{'cc', 'dd'}
{'aa', 'cc', 'bb', 'dd'}
{'cc', 'bb', 'dd'}
{'bb', 'dd'}
{'dd'}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 4}
{8, 5, 6, 7}
{1, 2, 3, 11, 12}
{1, 2, 3}

In [167]:
a = tuple((10,20,30))
print(a)
b = list(a)
print(b)

(10, 20, 30)
[10, 20, 30]

In [212]:
# dictionary
dict1 = {
     'name': 'lili',
     'sub' : 'cs'
}
print(dict1)
print(dict1['sub'])
print(dict1.get('name'))

{'name': 'lili', 'sub': 'cs'}
cs
lili

In [228]:
s = {
    'name': 'kuku',
    'sub': 'cs',
    'rn': 30,
    'class': 'bsc'
}
print(s)
print(s['rn'])
print(s.get('sub'))
print(s.keys())
print(s.values())
s['city'] = 'pune'
print(s)
s['lname']= 'varma'
print(s)
s.items()
print(s)
s['city'] = 'mumbai'
print(s)

{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc'}
30
cs
dict_keys(['name', 'sub', 'rn', 'class'])
dict_values(['kuku', 'cs', 30, 'bsc'])
{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc', 'city': 'pune'}
{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc', 'city': 'pune', 'lname': 'varma'}
{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc', 'city': 'pune', 'lname': 'varma'}
{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc', 'city': 'mumbai', 'lname': 'varma'}

In [231]:
# update
print(s)
print(s.items())
s.update({
    'mname':'lili',
    'mail': 'abc@gmail.com'
})
print(s.items())

{'name': 'kuku', 'sub': 'cs', 'rn': 30, 'class': 'bsc', 'city': 'mumbai', 'lname': 'varma'}
dict_items([('name', 'kuku'), ('sub', 'cs'), ('rn', 30), ('class', 'bsc'), ('city', 'mumbai'), ('lname', 'varma')])
dict_items([('name', 'kuku'), ('sub', 'cs'), ('rn', 30), ('class', 'bsc'), ('city', 'mumbai'), ('lname', 'varma'), ('mname', 'lili'), ('mail', 'abc@gmail.com')])

In [239]:
a = {1,2,3,4,5}
print(a)
print(type(a))
c = frozenset(a)
print(c)

x = set(a)
print(x)
a= {1,2,3,4,5}
b = {6,7,8,9,10}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}
<class 'set'>
frozenset({1, 2, 3, 4, 5})
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [262]:
# opertors
# arthmetic opetors
a = 10
b = 20
c = a+b
print(c)
a = 20
b = 30
c = a-b
print(c)
a = 200
b = 5
c= a*b
print(c)
a = 10
b = 20
c = a/b
print(c)
a = 100
b = 200
c = a**b
print(c)
a = 10
b =30
c = a//b
print(c)
a = 10
b = 40
c = a%b
print(c)
# assignment opertors
a = 50
a +=10
print(a)
a -=5
print(a)
a *=4
print(a)
a /=5
print(a)
a**=5
print(a)
a//=15
print(a)
a%=5
print(a)
# compasion opertors
a = 10
b = 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(b>=a)
# logical opertors
a = 100
b = 200
print(a>b)or(b<a)
print(a<b)and(a<b)
print(not(a>b))
# identity
a = 10
b = 20
print(id(a))
print(id(b))
print(a is b)
a = 1+4j
b = 5+6j
print(id(a))
print(id(b))
print(a is b)
# membership opertors
a = [10,20,30,40]
print(a)
print(20 in a)
print(100 in a)
b = (11,22,33,44)
print(b)
print(22 not in b)
c = {11,12,13,14}
print(c)
print(13 not in c)

30
-10
1000
0.5
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
0
10
60
55
220
44.0
164916224.0
10994414.0
4.0
False
True
False
True
True
True
False
True
True
2581961507344
2581961507664
False
2582063709360
2582063707536
False
[10, 20, 30, 40]
True
False
(11, 22, 33, 44)
False
{11, 12, 13, 14}
False

In [268]:
# bitwise opertors
a = 10
b = 20
c =a&b
print(c)
a = 15
b = 20
c = a|b
print(c)
a = 30
print(~(a))
a = 10
b = a>>4
print(b)
a = 25
b = a<<5
print(b)

0
31
-31
0
800

In [274]:
# conditional statement
a = 10
b = 20
if a<b:
    print('a is small')
a = 10
b = 10
if a<b:
    print('b is big')
else:
    print('a and b equal')
a = 10
b = 20
if a==b:
    print('a and b equal')
elif a<b:
    print('a is small')
else:
    print('b is big')

a is small
a and b equal
a is small

In [278]:
a = 10
b = 20
if a<b: print('a is small')
x = 100
y = 150
print('x is small') if x<y else print('x is less than y')
a = 120
b = 340
print('a is small') if a==b else print('a is less than b')

a is small
x is small
a is less than b

In [287]:
a = 10
b = 20
if a<b:
    pass
else:
    print('a and b equal')

In [284]:
a = int(input('enter the number'))
b = int(input('enter the number'))
c = a+b
print(c)

enter the number10
enter the number20
30

In [285]:
a = 100
a = int(input('enter the number'))
if a<90:
    print('a grade')
elif a<80:
    print('b grade')
elif a<70:
    print('c grade')
else:
    print('pass')

enter the number40
a grade

In [288]:
# looping statement
# while loop
a = 1
while a<20:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [289]:
a =20
while a>1:
    print(a)
    a=a-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [290]:
a = 1
while a<10:
    print(a)
    if a==5:
        break
    a = a+1

1
2
3
4
5

In [291]:
a = 20
while a>1:
    print(a)
    if a==10:
        break
    a = a-1

20
19
18
17
16
15
14
13
12
11
10

In [299]:
a = 1
while a <20:
    if a ==5:
        a = a+1
        continue
    print(a)
    a = a+1

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [295]:
a=1
while a<100:
    if a==49:
        a=a+1
        continue
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [301]:
a = 1
while a<25:
    if a==5:
        a = a+1
        continue
    print(a)  
    a = a+1

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [304]:
a = 1
while a<25:
    print(a)
    if a ==5:
        break
    a = a+1 
else:
    print('hi')

1
2
3
4
5

In [306]:
a = 1
while a<20:
    if a==10:
        a = a+1
        continue
    print(a)
    a =a +1
else:
    print('hii')

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
hii

In [311]:
a = [1,2,3,4,5,6,7,8]
print(a)
print('while on list')
b =1
while b<len(a):
    print(a[b])
    b = b+1

[1, 2, 3, 4, 5, 6, 7, 8]
while on list
2
3
4
5
6
7
8

In [312]:
a = ['AA','BB','CC','DD']
print(a)
print('while on list')
b = 0
while b<len(a):
    print(a[b])
    b = b+1

['AA', 'BB', 'CC', 'DD']
while on list
AA
BB
CC
DD

In [313]:
a = (11,22,33,44,55,66)
print(a)
print('while on list')
b = 2
while b<len(a):
    print(a[b])
    b = b+1

(11, 22, 33, 44, 55, 66)
while on list
33
44
55
66

In [314]:
x = ('aa','bb','cc','dd','ee')
print(x)
print('while on list')
y = 1
while y<len(x):
    print(x[y])
    y = y+1

('aa', 'bb', 'cc', 'dd', 'ee')
while on list
bb
cc
dd
ee

In [319]:
# for loop
a = ['aa','bb','cc','dd','ee']
print(a)
print(type(a))
print(len(a))
for x in a:
    print(x)
for x in a:
    if x == 'cc':
        print(x)

['aa', 'bb', 'cc', 'dd', 'ee']
<class 'list'>
5
aa
bb
cc
dd
ee
cc

In [320]:
a = 'hello python'
print(a)
print(len(a))
for x in a:
    print(x)

hello python
12
h
e
l
l
o

p
y
t
h
o
n

In [321]:
tup = (10,20,30,40,50,60)
print(tup)
print(len(tup))
for x in tup:
    print(x)

(10, 20, 30, 40, 50, 60)
6
10
20
30
40
50
60

In [323]:
for x in tup:
    if x==20:
        continue
    print(x)

10
30
40
50
60

In [326]:
for x in tup:
    if x ==10:
        break
    print(x)

In [328]:
for x in tup:
    if x ==30:
        break
    print(x)

10
20

In [329]:
for x in tup:
    if x ==20:
        break
    print(x)

10

In [333]:
dict1 = {
    'name':'lili',
    'sub': 'cs',
    'rn': 10,
    'mobile':9987654345
}
print(dict1)
for x in dict1:
    print(x)
for x in dict1.keys():
    print(x)
for x in dict1.values():
    print(x)
for x in dict1.items():
    print(x)

{'name': 'lili', 'sub': 'cs', 'rn': 10, 'mobile': 9987654345}
name
sub
rn
mobile
name
sub
rn
mobile
lili
cs
10
9987654345
('name', 'lili')
('sub', 'cs')
('rn', 10)
('mobile', 9987654345)

In [335]:
set1 = {11,22,33,44,55,66}
print(set1)
for x in set1:
    print(x)
for x in set1:
    if x == 33:
        print(x)

{33, 66, 22, 55, 11, 44}
33
66
22
55
11
44
33

In [336]:
# range
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [337]:
for x in range(20):
    if x ==10:
        break
    print(x)

0
1
2
3
4
5
6
7
8
9

In [1]:
str1 = 'hello python'
print(str1)
for x in str1:
    print(x)

hello python
h
e
l
l
o

p
y
t
h
o
n

In [2]:
a = [10,20,30,40,50]
print(a)
for x in a:
    print(x)

[10, 20, 30, 40, 50]
10
20
30
40
50

In [339]:
for x in range(20):
    if x ==10:
        continue
    print(x)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [343]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [344]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [345]:
for x in range(5,50,3):
    print(x)

5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [346]:
for x in range(1,10):
    print(x)
else:
    print('hii')

1
2
3
4
5
6
7
8
9
hii

In [347]:
a = int(input('enter the number'))
b = int(input('enter the number'))
c = a+b
print(c)

enter the number10
enter the number20
30

In [1]:
for a in range(1,15,3):
    print(a)
else:
    print('hello')

1
4
7
10
13
hello

In [2]:
# function
def display():
    print('hii')
display()

hii

In [3]:
def display():
    print('hello')
    print('hi')
display()
print('hey')

hello
hi
hey

In [6]:
print('good morning')
def fun():
    print('heii')
    print('hi lili')
print('good night')
fun()
print('good afternoon')

good morning
good night
heii
hi lili
good afternoon

In [9]:
# arguments
def display(a,b):
    print(a)
    print(b)
x = 10
y = 20
display(x,y)

10
20

In [12]:
def fun(a,b):
    print(a)
    print(b)
x = int(input('enter the number'))
y = int(input('enter the number'))

display(x,y)

enter the number10
enter the number20
10
20

In [15]:
def fun(a):
    print(a)
b = 100
fun(b)

100

In [16]:
def display(a,b):
    add = a+b
    print(add)
x = int(input('enter the number'))
y = int(input('enter the number'))
display(x,y)

enter the number10
enter the number20
30

In [17]:
def display(a,b):
    mul = a*b
    return mul
x = 10
y = 20
z = display(x,y)
print(z)

200

In [19]:
# unknown parameters
def display(*letter):
    print(letter)
    print(len(letter))
    for x in letter:
        print(x)
display('a','b','c','d')

('a', 'b', 'c', 'd')
4
a
b
c
d

In [20]:
def display(*value):
    print(value)
    print(len(value))
    for x in value:
        print(x)
display('11','22','33')

('11', '22', '33')
3
11
22
33

In [24]:
def fun(**name):
    print(name)
    print(name['lname'])
    print(name['fname'])
fun(lname =  'lili',fname ='thorat')

{'lname': 'lili', 'fname': 'thorat'}
lili
thorat

In [25]:
def fun(**name):
    print(name)
    print(name['fname'])
    print(name['lname'])
fun(fname = 'lili', lname = 'thorat')

{'fname': 'lili', 'lname': 'thorat'}
lili
thorat

In [26]:
def display(email = 'abc@gamil.com'):
    print(email)
display('vst@gmail.com')
display()

vst@gmail.com
abc@gamil.com

In [28]:
def fun(email):
    print(email)
   
fun('vst@gmail.com')

vst@gmail.com

In [32]:
# lambda function
a = lambda b: b*2
a(3)

6

In [38]:
b = lambda c,d : c+4
b(10,20)

14

In [39]:
a = lambda num : num**2
a(5)

25

In [40]:
a = lambda x,y,z: x+y+z
a(10,20,30)

60

In [44]:
def fun(n):
    print(n)
    return (lambda a:a*n)
b = fun(100)
b(10)

100

1000

In [47]:
def fun(a):
    print(a)
    return(lambda b:b*a)
x = fun(10)
x(10)

10

100

In [48]:
double = lambda a: a*3
double(20)

60

In [49]:
tripple = lambda b:b/5
tripple(20)

4.0

In [50]:
def display(a):
    print(a)
    return (lambda b:b+a)
c = display(25)
c(20)

25

45

In [51]:
# class
class bsc:
    name = 'vaishnavi'
    sub = 'cs'
bsc()
print(bsc.name)
print(bsc.sub)

vaishnavi
cs

In [52]:
class abc:
    name='lili'
    sub = 'cs'
    rollno = 10
abc()
print(abc.name)
print(abc.sub)
print(abc.rollno)

lili
cs
10

In [54]:
class abc:
    def __init__(self,nm,sub,rn):
        self.name= nm
        self.sub = sub
        self.rollno = rn
a = abc('lili','cs',20)
print(a.name)
print(a.sub)
print(a.rollno)
b = abc('kuku','bsc',10)
print(b.name)
print(b.sub)
print(b.rollno)

lili
cs
20
kuku
bsc
10

In [57]:
class bsc:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
    def display(self):
        print(self.fname)
        print(self.lname)
b = bsc('lili','varma')
b.display()

lili
varma

In [58]:
class abc:
    def __init__(self,fnm,s,rn):
        self.fname = fnm
        self.sub = s
        self.rollno = rn
    def display(self):
        print(self.fname)
        print(self.sub)
        print(self.rollno)
    def changename(self,fnm):
        self.fname = fnm
        self.display()
a1 = abc('lili','cs',25)
a1.display()
a2 = 'kuku'
a1.changename(a2)

lili
cs
25
kuku
cs
25

In [66]:
class bsc:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
    def display(self):
        print(self.fname)
        print(self.lname)
    def changename(self,lnm):
        self.name = lnm
        self.display()
b1 = bsc('lili','kiki')
b1.display()
b2 = 'lili'
b1.changename(b2)

lili
kiki
lili
kiki

In [68]:
# inheritance
class abc:
    def __init__(self,fnm,c):
        self.fname= fnm
        self.city = c
    def display(self):
        print(self.fname)
        print(self.city)
class bsc(abc):
    pass
a = bsc('riya','delhi')
a.display()

riya
delhi

In [69]:
class abc:
    def __init__(self,fnm,lnm,c):
        self.fname = fnm
        self.lname = lnm
        self.city = c
    def display(self):
        print(self.fname)
        print(self.lname)
        print(self.city)
class bsc(abc):
    pass
a = bsc('aa','bb','mumbai')
a.display()

aa
bb
mumbai

In [78]:
class xyz:
    def __init__(self,nm,s,c,r):
        self.name = nm
        self.sub = s
        self.city = c
        self.rn = r
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.city)
        print(self.rn)
class abc(xyz):
    def __init__(self,nm,s,c,r,lnm):
        xyz. __init__(self,nm,s,c,r)
        self.lname = lnm
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.city)
        print(self.rn)
        print(self.lname)
a1 = abc('lili','cs','delhi',20,'varma')
a1.display()

lili
cs
delhi
20
varma

In [80]:
class person:
    def __init__(self,nm,sub,rn):
        self.name = nm
        self.sub = sub
        self.rollno = rn
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.rollno)
class person1(person):
    def __init__(self,nm,sub,rn,ci,co):
        person. __init__(self,nm,sub,rn)
        self.city = ci
        self.collage = co
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.rollno)
        print(self.city)
        print(self.collage)
p1= person1('chika','micro',20,'pune','coup')
p1.display()

chika
micro
20
pune
coup

In [82]:
class bsc:
    def __init__(self,nm,sub):
        self.name = nm
        self.sub = sub
    def display(self):
        print(self.name)
        print(self.sub)
class abc(bsc):
    def __init__(self,nm,sub,city):
        self.name = nm
        self.sub = sub
        self.city = city
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.city)
a1 = abc('lili','cs','pune')
a1.display()

lili
cs
pune

In [89]:
# iterator in python
a = (10,20,30,40,50)
print(a)
itr = iter(a)
print(next(itr))
for x in a:
    print(x)
a = (11,22,33,44,55)
print(a)
print(type(a))
itr = iter(a)
print(next(itr))
print(next(itr))
a = 'hello python'
print(a)
itr = iter(a)
print(next(itr))
print(next(itr))
print(next(itr))
a = [10,20,30,40,50,60]
print(a)
itr = iter(a)
print(next(itr))
print(next(itr))
for x in a:
    print(x)

(10, 20, 30, 40, 50)
10
10
20
30
40
50
(11, 22, 33, 44, 55)
<class 'tuple'>
11
22
hello python
h
e
l
[10, 20, 30, 40, 50, 60]
10
20
10
20
30
40
50
60

In [90]:
class counter:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        b = self.a
        self.a +=1
        if b ==20:
            raise StopIteration
        return b
count = counter()
itr = iter(count)
for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [92]:
class counter:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        b = self.a
        self.a+=1
        if b == 15:
            raise StopIteration
        return b
count = counter()
itr = iter(count)
for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [94]:
class counter:
    def __iter__(self):
        self.a =1
        return self
    def __next__(self):
        b = self.a
        self.a+=1
        if b ==10:
            raise StopIteration
        return b
count = counter()
itr = iter(count)
for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9

In [96]:
class counter:
    def __iter__(self):
        self.x =1
        return self
    def __next__(self):
        y = self.x
        self.x +=1
        if y == 15:
            raise StopIteration
        return y
count = counter()
itr = iter(count)
for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [98]:
# scope of variable
def add():
    a = 10
    b = 20
    print(a)
    
    return a+b
add()
print(a)
print(b)

10
[10, 20, 30, 40, 50, 60]
<__main__.bsc object at 0x000001EDFCCB0760>

In [99]:
def add():
    a = 10
    b = 20
    print(a)
    return a+b
add()
print(a)
print(b)

10
[10, 20, 30, 40, 50, 60]
<__main__.bsc object at 0x000001EDFCCB0760>

In [103]:
x = 100
y = 200
def add():
    x = 10
    y = 20
    print(x)
    print(y)
    return x+y
add()
print(a)
print(b)

10
20
200
200

In [102]:
a=200
b=200
def add():
    a=10
    b=20
    print(a)
    print(b)
    return a+b
add()
print(a)
print(b)

10
20
200
200

In [104]:
a = 10
b = 20
def mul():
    a = 15
    b = 30
    print(a)
    print(b)
    return a*b
add()
print(a)
print(b)

10
20
10
20

In [105]:
x = 100
y = 200
def add():
    x = 10
    y = 20
    global pi
    pi = 3.14
    print(a)
    print(b)
    return x+y
def display(x,y):
    print(x)
    print(y)
    print(pi)
add()
display(x,y)
print(x)
print(y)
print(pi)

10
20
100
200
3.14
100
200
3.14

In [106]:
a = 10
b = 20
def mul():
    x = 15
    y = 20
    global pi
    pi = 3.14
    print(x)
    print(y)
    return x*y
def display(x,y):
    print(x)
    print(y)
    print(pi)
mul()
print(a)
print(b)
print(pi)

15
20
10
20
3.14

In [107]:
import platform
platform.system()

'Windows'

In [108]:
import platform
platform.system()

'Windows'

In [114]:
import keyword
keyword.kwlist
len(keyword.kwlist)
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [118]:
# datetime
import datetime as dt
dt.datetime.now()

datetime.datetime(2023, 9, 6, 14, 40, 18, 356195)

In [121]:
print(dt.MINYEAR)

1

In [122]:
print(dt.MAXYEAR)

9999

In [128]:
x = dt.datetime.now()
print(x)
print(x.month)
print(x.day)
print(x.date)
print(x.year)

2023-09-06 14:42:22.241730
9
6
<built-in method date of datetime.datetime object at 0x000001EDFCD3AFA0>
2023

In [132]:
a = dt.datetime(2023,9,3)
print(a)
b = dt.datetime(2023,10,4)
print(b)

2023-09-03 00:00:00
2023-10-04 00:00:00

In [143]:
a = dt.datetime.now()
print(a.month)
print(a.year)
print(a.strftime('%W'))
print(a.strftime('%p'))
print(a.strftime('%Y'))
print(a.strftime('%A'))
print(a.strftime('%a'))
print(a.strftime('%B'))

9
2023
36
PM
2023
Wednesday
Wed
September

In [144]:
import datetime as datetime
datetime.datetime.now()

datetime.datetime(2023, 9, 6, 14, 48, 31, 427541)

In [145]:
print(datetime.MINYEAR)

1

In [146]:
print(datetime.MAXYEAR)

9999

In [147]:
x = datetime.datetime.now()
print(x)

2023-09-06 14:49:23.696575

In [162]:
x = datetime.datetime.now()
print(x)
print(x.month)
print(x.year)
print(x.strftime('%w'))
print(x.strftime('%A'))
print(x.strftime('%H'))
print(x.strftime('%b'))
print(x.strftime('%p'))
print(x.strftime('%xmode'))
print(x.strftime('%alias_magic'))
print(x.strftime('%pip'))
print(x.strftime('%autoawait'))
print(x.strftime('%who'))
print(x.strftime('%S'))

2023-09-06 14:54:25.598471
9
2023
3
Wednesday
14
Sep
PM
09/06/23mode
Wedlias_magic
PMip
Wedutoawait
3ho
25

In [173]:
# math function
a = min(10,20,30)
print(a)
b = max(100,200,300)
print(b)
c = abs(-10)
print(c)
d = abs(20)
print(d)
e = pow(10,3)
print(e)

10
300
10
20
1000

In [180]:
import math as mm
x = mm.sqrt(10)
print(x)
x = mm.floor(10.2)
print(x)
x = mm.ceil(10.2)
print(x)
e = mm.e
print(e)
e = mm.pi
print(e)
a = mm.nan

print(a)
print(type(a))

3.1622776601683795
10
11
2.718281828459045
3.141592653589793
nan
<class 'float'>

In [186]:
# math function
a = min(10,20,30)
print(a)
b = max(100,200,300)
print(b)
c = min(1.1,2.1)
print(c)
d = abs(-1)
print(d)
e = pow(20,4)
print(e)

10
300
1.1
1
160000

In [195]:
import math as m
a = m.sqrt(10)
print(a)
b = m.floor(10.3)
print(b)
c = m.ceil(1.1)
print(c)
d = m.ceil(10)
print(d)
e = m.e
print(e)
f = m.pi
print(f)
g = m.nan
print(g)
print(type(g))

3.1622776601683795
10
2
10
2.718281828459045
3.141592653589793
nan
<class 'float'>

In [2]:
# json
import json
a = '{"name":"lili","mobile": 9887655676}'
print(a)
print(type(a))
b = json.loads(a)
print(b)
print(type(b))

{"name":"lili","mobile": 9887655676}
<class 'str'>
{'name': 'lili', 'mobile': 9887655676}
<class 'dict'>

In [3]:
a = '{"name":"kuku","lname":"keke"}'
print(a)
print(type(a))
b = json.loads(a)
print(b)
print(type(b))

{"name":"kuku","lname":"keke"}
<class 'str'>
{'name': 'kuku', 'lname': 'keke'}
<class 'dict'>

In [4]:
a = {
    'name':'lili',
    'sub':'cs',
    'marks':300
}
print(a)
print(type(a))
b = json.dumps(a)
print(b)
print(type(b))

{'name': 'lili', 'sub': 'cs', 'marks': 300}
<class 'dict'>
{"name": "lili", "sub": "cs", "marks": 300}
<class 'str'>

In [5]:
tup = ('aa',100,200,300,'lili')
print(tup)
print(type(tup))
b = json.dumps(tup)
print(b)
print(type(b))

('aa', 100, 200, 300, 'lili')
<class 'tuple'>
["aa", 100, 200, 300, "lili"]
<class 'str'>

In [8]:
a = {
    'name':'lili',
    'sub':'cs',
    'marks':100,
    'veg': True,
    'nonveg': False
}
print(a)
print(type(a))
b = json.dumps(a)
print(b)
print(type(b))
c = a['veg']
print(c)
d = a['marks']
print(d)

{'name': 'lili', 'sub': 'cs', 'marks': 100, 'veg': True, 'nonveg': False}
<class 'dict'>
{"name": "lili", "sub": "cs", "marks": 100, "veg": true, "nonveg": false}
<class 'str'>
True
100

In [12]:
a = {
    'name':'lili',
    'sub':'cs',
    'marks':100,
    'veg': True,
    'nonveg': False
}
print(a)
print(json.dumps (a, indent = 4, separators = ("-","="), sort_keys = True))

{'name': 'lili', 'sub': 'cs', 'marks': 100, 'veg': True, 'nonveg': False}
{
    "marks"=100-
    "name"="lili"-
    "nonveg"=false-
    "sub"="cs"-
    "veg"=true
}

In [13]:
a = '{"name":"lili","sub":"cs"}'
print(a)
print(type(a))
b = json.loads(a)
print(b)

{"name":"lili","sub":"cs"}
<class 'str'>
{'name': 'lili', 'sub': 'cs'}

In [14]:
b = {
    'name':'lili',
    'sub': 'cs',
    'marks': 30,
    'city': 'delhi'
}
print(b)
print(type(b))
c = json.dumps(b)
print(c)
print(type(c))

{'name': 'lili', 'sub': 'cs', 'marks': 30, 'city': 'delhi'}
<class 'dict'>
{"name": "lili", "sub": "cs", "marks": 30, "city": "delhi"}
<class 'str'>

In [15]:
tup = ('10',"lili",'kuku',100,300)
print(tup)
print(type(tup))
b = json.dumps(tup)
print(b)
print(type(b))

('10', 'lili', 'kuku', 100, 300)
<class 'tuple'>
["10", "lili", "kuku", 100, 300]
<class 'str'>

In [16]:
a = {
    'name':'titi',
    'sub':'cs',
    'marks': 20,
    'city':'pune'
}
print(a)
print(type(a))
b = json.dumps(a)
print(b)
print(type(b))

{'name': 'titi', 'sub': 'cs', 'marks': 20, 'city': 'pune'}
<class 'dict'>
{"name": "titi", "sub": "cs", "marks": 20, "city": "pune"}
<class 'str'>

In [19]:
a = {
    'name': 'lili',
    'sub': 'cs',
    'marks': 20,
    'city': 'pune'
}
print(a)
print(json.dumps(a, indent = 4, separators = ("-","="),sort_keys= True))
print(json.dumps(a,indent = 4,separators = ("-","="),sort_keys = False))

{'name': 'lili', 'sub': 'cs', 'marks': 20, 'city': 'pune'}
{
    "city"="pune"-
    "marks"=20-
    "name"="lili"-
    "sub"="cs"
}
{
    "name"="lili"-
    "sub"="cs"-
    "marks"=20-
    "city"="pune"
}

In [21]:
# regular expression
import re
a = 'my name is lili my sub is cs'
b = re.search('my.*cs$',a)
if b:
    print('yes match')
else:
    print('no match')

yes match

In [31]:
a = 'the flower is nice'
b = re.search('the.*nice$',a)
print(b.span())
print(b.start())
print(b.end())
print(b.string)
print(b.group())
if b:
    print('yes')
else:
    print('no')

(0, 18)
0
18
the flower is nice
the flower is nice
yes

In [42]:
a = 'the value is lili and kuku is riri'
b = re.findall('a',a)
print(b)
b = re.split('\t',a)
print(b)
b = re.split('l',a,2)
print(b)
c = re.sub('\s','=',a)
print(c)
d = re.sub('\s','##',a)
print(d)
e = re.sub('\s','--',a,3)
print(e)

['a', 'a']
['the value is lili and kuku is riri']
['the va', 'ue is ', 'ili and kuku is riri']
the=value=is=lili=and=kuku=is=riri
the##value##is##lili##and##kuku##is##riri
the--value--is--lili and kuku is riri

In [48]:
a = 'the city is lili and my name is kuku'
b = re.split('a',a)
print(b)
c = re.findall('a',a)
print(c)
d = re.sub('\s','$$',a)
print(d)
e = re.search('c',a)
print(e)

['the city is lili ', 'nd my n', 'me is kuku']
['a', 'a']
the$$city$$is$$lili$$and$$my$$name$$is$$kuku
<re.Match object; span=(4, 5), match='c'>

In [49]:
a = 'my name is lili'
b = re.search('my.*lili$',a)
if b:
    print('yes')
else:
    print('no')

yes

In [50]:
a = 'my value is lili'
b = re.findall('a',a)
print(b)

['a']

In [51]:
a = 'the cr is bes'
b = re.search('c',a)
print(b)

<re.Match object; span=(4, 5), match='c'>

In [53]:
a = 'my name is kuku'
b = re.split('\s',a)
print(b)
c = re.split('\s',a,2)
print(c)

['my', 'name', 'is', 'kuku']
['my', 'name', 'is kuku']

In [54]:
x = 'my name is kuku and my sub is cs'
y = re.sub('\s','\t',x)
print(y)

my	name	is	kuku	and	my	sub	is	cs

In [1]:
# exception handling
try:
    print(a)
except NameError:
    print('yes')
except:
    print('no')

yes

In [2]:
try:
    print(a)
except ValueError:
    print('declared')
except:
    print('not declared')

not declared

In [3]:
a = 10
try:
    print(a)
except:
    print('no match')

10

In [4]:
while True:
    try:
        a = int(input('enter the number'))
        break
    except ValueError:
        print('helli')

enter the number10

In [5]:
try:
    print('hi')
except:
    print('hello')
else:
    print('hey')

hi
hey

In [6]:
try:
    print('good morning')
except:
    print('good night')
finally:
    print('good aftrnoon')

good morning
good aftrnoon

In [7]:
try:
    l = [10,20,30,40]
    for i in range(0,2):
        print(i)
except:
    print('hello')

0
1

In [11]:
try:
   
    for x in range(10,40):
        print(x)
except:
    print('hi')
else:
    print('hello')

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
hello

In [17]:
try:
    a = (10,20,30,40,50)
    for x in range(0,3):
        print(a[x])
except:
    print('hi')
else:
    print('hello')

10
20
30
hello

In [16]:
try:
    a = [1,2,3,4,5,6,7]
    for x in range(0,3):
        print(a[x])
except:
    print('hii')

1
2
3

In [18]:
a = 10
try:
    print(a)
except:
    print('hi')
finally:
    print('ok')

10
ok

In [20]:
a = 10
try:
    print(a)
except ValueError:
    print('hi')
except:
    print('hello')
else:
    print('hey')
finally:
    print('heyyy')

10
hey
heyyy

In [23]:
a = (10)
if a>1:
    raise TypeError('no match')

TypeError: no match

In [24]:
tup = (10,20,30,40)
try:
    print(tup)
except:
    print('hello')

(10, 20, 30, 40)

In [26]:
while True:
    try:
        a = int(input('enter the number'))
        b = int(input('enter the number'))
        c = a+b
        print(c)
        break
    except ValueError:
        print('hii')
    except:
        print('hello')

enter the number10
enter the number20
30

In [28]:
try:
    print(z)
except SyntaxError:
    print('hello')
except:
    print('hiii')

hiii

In [29]:
try:
    print('hi')
except:
    print('hello')
else:
    print('hey')

hi
hey

In [30]:
try:
    a =[10,20,30,40,50]
    for x in range(1,3):
        print(a[x])
except:
    print('yes match')
finally:
    print('no match')

20
30
no match

In [31]:
try:
    print(x)
except:
    print('hi')
finally:
    print('hello')

2
hello

In [33]:
a = 10
if a>0:
    raise Exception('sorry no match')

Exception: sorry no match

In [34]:
# string formatting
a = 100
b = 'the value is {}'
print(b.format(a))

the value is 100

In [35]:
a = 10.2
b = 'the value is {}'
print(b.format(a))

the value is 10.2

In [40]:
a = 10
b = 'the value is {}'
print(b.format(a))
print('the value is ',a)
print('the value is 10')

the value is 10
the value is  10
the value is 10

In [41]:
a = 10
b = 20
c = 'the value is  a {} the value is b {} '
print(c.format(a,b))

the value is  a 10 the value is b 20

In [54]:
a = 10
b = 20
print = ('the price a is {} and price b is {}'.format(a,b))

In [10]:
# file handling
f = open('f1.txt','r')
print(f.read())
print(f.readline())
for x in f:
    print(x)
print(f.read(5))

hi
hello python
good morning
my name is lili

In [12]:
f = open('f1.txt','r')
for x in f:
    print(x)

hi

hello python

good morning

my name is lili

In [14]:
f = open('f1.txt','a')
a = 'this is new add'
f.write(a)
f = open('f1.txt','r')
print(f.read())

hi
hello python
good morning
my name is lilithis is new addthis is new add

In [15]:
f_r = open('f1.txt','r')
print(f_r.read())

hi
hello python
good morning
my name is lilithis is new addthis is new add

In [17]:
f_w = open('f1.txt','a')
a = 'hey come to dubai'
f_w.write(a)
f_r = open('f1.txt','r')
print(f_r.read())

hi
hello python
good morning
my name is lilithis is new addthis is new addhey come to dubai

In [30]:
f_x = open('f7.txt','x')
f_r = open('f7.txt','r')
print(f_r.read())
f_w = open('f7.txt','a')
a = 'hi good morning'
f_w.write(a)

15